html {
    position: relative;
    /* min-height: 100%; */
    /* padding: 0; */
    /* margin: 0; */
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #d8e7e0a3;
    height: 100vh;

}

.main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.header,
.footer {
    font-size: large;
    font-weight: 600;
    background: #00a988;
    color: white;
    margin: 0;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
    letter-spacing: 2px;
    font-family: "Trebuchet MS", sans-serif;
    /* text-align: center; */
}

.tiles {
    --size: 4;
    background-color: #ffffff;
    min-width: 460px;
    min-height: 460px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.25);
    padding: 0;
    margin: 10px 10px 5px;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    /* box-sizing: content-box; */
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

}

.selector {
    display: flex;
    justify-content: center;

    overflow: hidden;
    /* width: fit-content; */
    width: min-content;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.25);

}

.select__input {
    display: none;
}

.select__label {
    padding: 10px 16px;
    font-size: 36px;
    font-family: sans-serif;
    color: #ffffff;
    background: #009578;
    cursor: pointer;
    transition: background 0.1s;
}

.select__label:not(:last-of-type) {
    border-right: 2px solid #006B56;
}

.select__input:checked+.select__label {
    background: #006B56;
}

.color {
    width: 4.5em;
    height: 4.5em;
    border: solid #00a988 2px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.25);
    cursor: pointer;
    background-color: transparent;
}

.color::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.25);
}

#clear {
    background: #ffffff;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.25);
    display: flex;
    padding: 7px;
    cursor: pointer;
}

.colorColumn,
.resetColumn,
.rainbow-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rainbowBtn {
    width: 4.5em;
    height: 4.5em;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.25);
    background-image: conic-gradient(from 45deg, red, orange, yellow, green, blue, indigo, violet);
}

.color-and-reset {
    display: inline-flex;
    gap: 1em;
}

.color-and-reset p {
    padding: 5px 0;
    margin: 5px 6px;
}

p {
    font-family: "Trebuchet MS", sans-serif;
    font-size: large;
    margin-bottom: 10px;
}

#select-text {
    align-self: center;
}

@media screen and (max-width:465px) {

    .tiles {
        min-width: 320px;
        min-height: 320px;
    }

    .header,
    .footer {
        font-size: medium;
        font-weight: 500;
        height: 2em;
    }

    .select__label {
        padding: 10px 16px;
        font-size: 26px;
    }

    p {
        font-size: medium;
    }



}