body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: lavenderblush;
}

#header {
    font-size: large;
    font-weight: 600;
    background: #00a988;
    color: white;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    letter-spacing: 2px;
    font-family: "Trebuchet MS", sans-serif;
}

.tiles {
    --size: 4;
    min-width: 360px;
    min-height: 360px;
    border: solid black 1px;
    padding: 0;
    margin: 20px 10px;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
}

.aTile {
    border: solid rgba(158, 158, 158, 0.406) 1px;
}


.controls {
    display: flex;
    flex-direction: column;
}

.selector {
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.25);

}

.select__input {
    display: none;
}

.select__label {
    padding: 10px 16px;
    font-size: 36px;
    font-family: sans-serif;
    color: #ffffff;
    background: #009578;
    cursor: pointer;
    transition: background 0.1s;
}

.select__label:not(:last-of-type) {
    border-right: 2px solid #006B56;
}

.select__input:checked+.select__label {
    background: #006B56;
}

#clear {
    background: #ffffff;
    font-size: 35px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.25);
    display: flex;
    padding: 7px;
    cursor: pointer;
    margin-left: 15px;
    align-self: flex-end;
}

p {
    font-family: "Trebuchet MS", sans-serif;
    padding: 10px;
    margin: auto;
    font-size: large;
}